
header{
    background-color: #38b49193;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}
body{
    background-color: darkslategrey;
    color: orange;
}
nav a{
    color: #cda83a;
}
header a{
    color: #cda83a;
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
}
main > h2{
    color: palegoldenrod;
}
main > h1{
    text-align: center;
}
img{
    width: 250px;
    display: flex;
    float: right;
}
/*
figcaption{
    want the caption to siut under the photo 
}
*/

/* MOBILE RULES */
/* Remove Initial */

/* Foundational Three */
main, .maincontainer {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}