
header{
    background-color: #38b49193;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}
body{
    background-color: darkslategrey;
    color: orange;
}
nav a{
    color: #cda83a;
}
header a{
    color: #cda83a;
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
}
main > h2{
    color: palegoldenrod;
}
main > h1{
    text-align: center;
}
img{
    width: 250px;
    display: flex;
    float: right;
}
/*
figcaption{
    want the caption to siut under the photo 
}
*/