<header>
    <h1>
        Felipe's Tiling Business
    </h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="ceramic.html">Why Tiling?</a></li>
            <li><a href="ceramicphoto.html">Ceramic Photo Showcase</a></li>
            <li><a href="ceramicvideo.html">Ceramic Video Showcase</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="project_overview.html">Project Overview</a></li>
        </ul>
    </nav>
</header>