

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(209, 235, 209, 0.795);
}
li a{
    float: left;
    margin: 1px 1px;
    display: block;
    padding: 8px;
    color:rgb(101, 129, 0);
    text-decoration: none;
    border: solid 1px;
}
body{
    margin: 0;
}
footer{
    padding: 1rem;
    text-align: center;
    background-color:rgba(209, 235, 209, 0.795)
}
form{
    display: flex;
    flex-direction: column;
    background-color: rgba(209, 235, 209, 0.795);
    padding: 0.5rem;
    margin: 2rem 2rem;
    
}
input{
    border: 2px solid;
    padding: 1rem;   
}
label{
    font-size: large;
}
.container {
    background-color: rgba(209, 235, 209, 0.795);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  .container img, .container{
    padding: 10px;
  }

  h2{
    text-align: center;
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
  }
  ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
.services{
    margin-right: 10px;
}